{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>

<html>

  <head>
        <title>{% block bootstrap3_title %}Entered Data{% endblock %}</title>

  </head>
<body>
  {% block bootstrap3_content %}

  <h2 class="text-center">Tshirt Data</h2>
  <div class ="container">
    <!-----------------Search Bar-------->

    <form id="searchform" action="{% url 'tshirt:upload_file' %}" method="post">
              {% csrf_token %}
      <div class ="container">

            <div class="wrap">
                  <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton" action="{% url 'tshirt:upload_file' %}">
                              Search
                            </button>
                          </div>
            </div>
      </div>

      </form>
  </div>
<!------------------Data UPload TO User Page---------->
<div class="container">
  <table class="table table-stripped">
{% block bootstrap_css %}
  <tr>
    <th>id</th>
    <th>Text</th>
    <th>Data</th>
    <th>Picture</th>
  </tr>
  <tr>
      {% for value in data_form %}
    <td>{{ value.id }}</td>
    <td>{{ value.text }}</td>
    <td>{{ value.data}}</td>
      <td>
<!-----------Adding MEDIA_URL for images upload or downlaod foler path-------->
        <img class="iimg-circle" src="{{media_url}}{{value.picture}}"></td>
  </tr>

  {% endfor %}
  {%endblock%}
</div>
{%endblock%}
</body>


</html>
