{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>

<html>

  <head>
        <title>{% block bootstrap3_title %}Entered Data{% endblock %}</title>
      {% for value in documents%}
    {{ value.id }}
    {{ value.text }}
    {{ value.data}}
  </head>
<body>


</body>


</html>
