{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>

<html>

  <head>
        <title>{% block bootstrap3_title %}Welcome To Tshirt {% endblock %}</title>

  </head>
<body>

  {% block bootstrap3_content %}
  <div class="container">

  <h2>Welcome To Tshirt </h2>

  <form class="formdata" action="{% url 'tshirt:upload_file' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% bootstrap_form form  %}
    <!-----Adding Star into uppers-------->
    {% bootstrap_icon "star" %}
    <!------submit button-------->
    {% buttons submit='Check' %}
    {% endbuttons %}

  </form>
</div>


  {% endblock %}

</body>


</html>
