

<title>Detail Page</title>

<img src ="{{ shirt.shirt.picture }}" >

<h1>{{ shirt.shirt.id }}</h1>
<h3>{{ shirt.shirt.text }}</h3>

{% if error_message%}
  <p><strong>{{error_message}}</strong></p>
{%endif%}


{%endblock%}
