<!DOCTYPE html>
<html>
<head>


</head>

<body>
<h1>WellCome To Shirt<h1>
  <form method='post' action=''>
    <input type ='text'>
        {{form.as_p}}
        
    <input type='submit'>

</form>
</body>



</html>
