
<h1>Wellcome TShirt Store</h1>
    <ul>

          {% for shirt in all_data %}
          <li><a href = "{% url 'tshirt:detail' shirt.id %}">{{ shirt.shirt.id}}</a></li>
          {% endfor %}
      </ul>
