<!DOCTYPE html>
<html>
<head>
  <meta charest="UTF-8">
  {%block title%}
  <title>Viberr</title>
  {%endblock%}
  {%load staticfiles%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
  <link rel = "stylesheet" type="text/css" href ="{%static 'music/style.css'%}"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-default">
       <div class="container>
          <button type="button" class="navbar-toggle" data-toggle ="collapse" data-target="#topNavBar">
              <span class ="icone-bar"></span>
              <span class ="icone-bar"></span>
              <span class ="icone-bar"></span>
          </button>

              <div clas="navbar-header">
                      <a class="navbar-brand" href="{% url 'music:index' %}">GKy</a>
              </div>

      <!-----------------------------------Items------------------------->



                <div class ="collapse navbar-collapse"id="topNovBar">


                  <ul>
                      <li class ="active">
                        <a href="{% url 'music:index' %}">
                            <span class ="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;  Albums
                        </a>
                      </li>
                      <li class ="">
                        <a href="{% url 'music:index' %}">
                            <span class ="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;  Songs
                        </a>
                      </li>
                  </ul>

                  <form class ="navbar-form navbar-left" role="search" method="get" action="#">
                      <div class="form-group">
                        <input type="text" class ="form-control" name="q" value="">
                      </div>
                      <button type="submit" class "btn btn-default">Search</button>
                  </form>

                  <ul class ="nav navbar-nav navbar-right">
                    <li class ="">

                      <a href="{%url 'music:album-add'%}">
                          <span class ="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                      </a>
                    </li>

                    <li class ="">
                      <a href="#">
                          <span class ="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;  Logout
                      </a>
                    </li>

                  </ul>

              </div>
      </div>

    </nav>
<!------->

    {%block body%}

    {%endblock%}


</body>
</html>
