<!---Loads the Path to your static files----->
{%extends 'music/base.html'%}
{%block title%}
<title>Detail Page</title>
{%endblock%}


{%block body%}
<img src ="{{ album.album_logo }}" >

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message%}
  <p><strong>{{error_message}}</strong></p>
{%endif%}


{%endblock%}
