<!---Loads the Path to your static files----->
{%extends 'music/base.html' %}


{%block body%}
{% if object_list %}
<h1>Here are all my Albums</h1>
    <ul>

          {% for album in object_list %}
          <li><a href = "{% url 'music:detail' album.id %}">{{ album.album_title}}</a></li>
          {% endfor %}
      </ul>
{% else %}
      <h3> You don't have any album</h3>

{%endif%}
{%endblock%}
